# backend files
backend/.dockerignore
__pycache__/

# frontend files
frontend/dist
frontend/.env
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/.env.production
frontend/.env.development
frontend/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
