.DS_Store
node_modules

# backend files
backend/.dockerignore
__pycache__/

# frontend files
frontend/babel.config.js
frontend/dist
frontend/jsconfig.json
frontend/package-lock.json
frontend/package.json
frontend/public
frontend/vue.config.js

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
